#searchresult div {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

#searchresult div div {

    text-align: center !important;
}

#searchresult{

   
}

aside{

    
}